<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Server Programming</title>
</head>
<body>
<div class="col-md-4" style="padding:20px 0">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" class="btn btn-danger"/>
    </form>
</div>
<div class="col-md-4">
    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h3>
</div>

<table class="table table-striped">
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Year</th>
        <th>Price</th>
        <th></th>
    </tr>


    <tr th:each="book : ${books}">
        <td th:text="${book.author}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.year}"></td>
        <td th:text="${book.price}"></td>
        <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
    </tr>

</table>
<a th:href="@{/addbook}" class="btn btn-success">Add a book</a>

</body>
</html>